.login-form {
    width: 340px;
    margin: 50px auto;
    color: black;

  }
  .login-form form {
    margin-bottom: 15px;
    background-image: linear-gradient(to right top, #f0f0f0, #f4f4f4, #f7f7f7, #fbfbfb, #ffffff);
    -webkit-box-shadow: 0px 4px 23px -7px rgba(0, 0, 0, 0.77);
    -moz-box-shadow: 0px 4px 23px -7px rgba(0, 0, 0, 0.77);
    box-shadow: 0px 4px 23px -7px rgba(0, 0, 0, 0.77);
    padding: 30px;
    border: 3px solid #FCAF15;
  }
  .login-form h2 {
    margin: 0 0 15px;
    font-family: 'Yellowtail', cursive;
    font-size: 50px;
    color: black;
  }