.search {
    margin: 0% auto;
    text-align: center;
}

.search .field {
    width: 30%;
}

.search .orsearch {
    padding-top: 2%;
    font-size: 5em;
}

.img-thumbnail-search {
    width: auto;
    height: 200px;
}

.contsearch {
    background-image: linear-gradient(to right top, #f0f0f0, #f4f4f4, #f7f7f7, #fbfbfb, #ffffff);
    color: black;
    margin: 100px auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    border: 3px solid #fcaf15;
    -webkit-box-shadow: 0px 4px 23px -7px rgba(0, 0, 0, 0.77);
    -moz-box-shadow: 0px 4px 23px -7px rgba(0, 0, 0, 0.77);
    box-shadow: 0px 4px 23px -7px rgba(0, 0, 0, 0.77);
    
}

.disc {
    
}