#profilecontainer {
    background-image: linear-gradient(to right top, #f0f0f0, #f4f4f4, #f7f7f7, #fbfbfb, #ffffff);
    color: black;
    margin: 100px auto;
    width: 60%;
    padding: 10px;
    text-align: center;
    border: 3px solid #fcaf15;
    -webkit-box-shadow: 0px 4px 23px -7px rgba(0, 0, 0, 0.77);
    -moz-box-shadow: 0px 4px 23px -7px rgba(0, 0, 0, 0.77);
    box-shadow: 0px 4px 23px -7px rgba(0, 0, 0, 0.77);
    
}

h1 {
    font-family: 'Yellowtail', cursive;
    font-size: 3.9vw;
    padding-bottom: 2%;
}

#add_rec {
    text-align: center;
}

.avatar {
    padding: .7em;
    margin-left: .3em;
    margin-top: .3em;
    max-height: 20vh;
    max-width: 20vw;
    border-radius: 20em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    width: 130px;
    height: 130px;
}

.hidden {
    display: none;
}

.unhidden {
    display: block;
}