{% extends 'yumyum/base.html' %}
{% load staticfiles %}

{%block title_block %}
Add Recipe
{% endblock %}

{% block body_block %}

<div>
  <h1>Add a Recipe</h1>
  <form role="form" id="recipe_form" method="post" action="{% url 'add_recipe' %}">
    {% csrf_token %}
    {% for hidden in form.hidden_fields %}
    {{ hidden }}
    {% endfor %}

    {% for field in form.visible_fields %}
    {{ field.errors }}
    {{ field.help_text }}
    {{ field }}
    {% endfor %}

    <button class="btn btn-primary" type="submit" name="submit">Add recipe!</button>
  </form>
</div>

{% endblock %}
