{% extends 'yumyum/base.html' %}
{% load staticfiles %}

{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}

{%block title_block %}
Add Recipe
{% endblock %}

{% block body_block %}

<div>
  <h1>Add a Recipe</h1>
  <form method="post">
    {% csrf_token %}
    <!--  for the recipeingredient-->

    <h5>Add ingredients</h5>

        {{ ri_formset.management_form }}

        {% for ri_form in ri_formset %}
            <div class="ri-formset">
                {{ ri_form.ingredient }}
                {% if ri_form.ingredient.errors %}
                    {% for error in ri_form.ingredient.errors %}
                        {{ error|escape }}
                    {% endfor %}
                {% endif %}

                {{ ri_form.quantity }}
                {% if ri_form.quantity.errors %}
                    {% for error in ri_form.quantity.errors %}
                        {{ error|escape }}
                    {% endfor %}
                {% endif %}

                {{ ri_form.unit }}
                {% if ri_form.unit.errors %}
                    {% for error in ri_form.unit.errors %}
                        {{ error|escape }}
                    {% endfor %}
                {% endif %}
            </div>
        {% endfor %}

        {% if ri_formset.non_form_errors %}
            {% for error in ri_formset.non_form_errors %}
                {{ error|escape }}
            {% endfor %}
        {% endif %}
    <!--  for the recipe itself-->
    <h5>Add the directions</h5>

    {% for field in recipe_form.visible_fields %}
    {{ field.errors }}
    {{ field.help_text }}
    {{ field }}
    <br/>
    {% endfor %}


    <button class="btn btn-primary" type="submit" name="submit">Add recipe!</button>
  </form>
</div>

{% endblock %}
