{% load staticfiles %}
{% block body_block %}
<div class="contsearch">
	<h1>Found what you are looking, chef?</h1>
	<div class="col-12">
		<div class="row">
			{% if cats %}
			{% for c in cats %}
			{% if c == act_cat %}
			<div class="col-md-6">
				<a href="/yumyum/recipe/{{c.slug}}/"><img class="img-thumbnail img-thumbnail-search"
						src="{{ MEDIA_URL }}{{c.picture}}" alt="{{c.title}}" /></img></a>
				<br><a href="{% url 'show_recipe' recipe_title_slug=c.slug %}">{{ c.title }}</a>
			</div>
			{% else %}
			<div class="col-md-6">
				<a href="/yumyum/recipe/{{c.slug}}/"><img class="img-thumbnail img-thumbnail-search"
						src="{{ MEDIA_URL }}{{c.picture}}" alt="{{c.title}}" /></img></a>
				<br><a href="{% url 'show_recipe' recipe_title_slug=c.slug %}">{{ c.title }}</a>
			</div>
			{% endif %}
			{% endfor %}
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}
