{% extends 'yumyum/base.html' %}
{% load staticfiles %}
{% block title %}Let's Cook! 😊{% endblock %}

{% block body_block %}
<br>
<br>
<div class="search">
  <form method="GET" action="{% url 'search' %}">
    <h3 class="names">Enter ingredients (separated by commas, and try to keep it plural!)</h3>
    <input class="field" name="q" value="{{request.GET.q}}" placeholder="pears, sugar, flour, cocaine..." type="text">
    <button class="btn btn-md btn-primary" type="submit">Search</button>
  </form>
  <h1 class="orsearch">or...</h1><br>
  <h3 class="names">Start typing a recipe name!</h3>
  <input class="field" type="text" name="suggestion2" value="" id="suggestion2" placeholder="spaghetti pomodoro...?" />
</div>
<div id="cats1"></div>
</div>
</div>


{% endblock %}
