{% extends 'yumyum/base.html' %}
{% load staticfiles %}

{%block title_block %}
Recipe
{% endblock %}

{% block body_block %}

<!--recipe styling-->
<link href="{% static 'design/recipe.css' %}" rel="stylesheet">

<div class="container" id="recipecontainer">
  <div class="row">
    <div class="col">
      <h1>{{recipe.title}} by <a href="{% url 'profile' username=recipe.user.username %}">{{recipe.user}}</a></h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img  class="cover" src="{{ MEDIA_URL }}{{recipe.picture}}" alt="{{recipe.title}} photo!"/>
    </div>
    <div class="col">
      <h3> Rating: {{avg_rev|floatformat:"2"}}</h3>
      <ul>
        <li><strong>Servings:</strong>  <input type="text" name="serving" class="serving" value={{recipe.servings}} /> </li>
        <input type="hidden" id="previousServing" value={{recipe.servings}}/>
        <li><strong>Category:</strong> {{recipe.category}}</li>
        <li><strong>Cooking Time:</strong> {{recipe.cooking_time}} minutes</li>
      </ul>
    </div>
    <div class="col">
      <h3>Ingredients</h3>
      <ul class="ingredients">
        {%for i in recipe_ingredients %}
        <li class="ingredient" ><strong> {{i.ingredient}}</strong> <span class="amount">{{i.quantity|floatformat}}</span> {{i.unit}} <br/> </li>
        {%endfor%}
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h3>Directions</h3>
      <p style="text-align: left;">
        {{recipe.direction}} <br/>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h3>Reviews</h3>
    </div>
  </div>
  <div class="row">
    <div class="col" style="padding-right:20px; border-right: 1px solid #ccc;">
      {%if user.is_authenticated and user.username != recipe.user.username%}

      {% if intcount > 0 or newr %}
      <h4>Thanks for submitting a review!</h4>
      {% else %}

      <div style="text-align:left;">
        <h3 style="padding-top:10px;">Add your
          review</h3>
          <form action="." method="post">
            {% csrf_token %}
            <p>Rating</p>
            {{ review_form.rating }}
            <p>Title</p>
            {{review_form.comment_title}}
            <p>Add your review</p>
            {{review_form.comment_body}}
            <br><input id="sbmtbtn" type="submit" class="btn btn-lg btn-primary" value="Add review" onClick="removeDiv(this);">
          </form>
        </div>
        {% endif %}

        {% endif %}
      </div>
      <div class="col">
        {%if reviews%}
        {% for r in reviews %}
        <p><strong><a href="{% url 'profile' username=r.user.username %}">{{r.user}}</a>: {{r.comment_title}} Rating:
          {{r.rating}}</strong><br>
          {{r.comment_body}}
        </p>
        {%endfor%}
        {% else %}
        {%if user.is_authenticated %}
        <p>There are no reviews yet!</p>
        {%else%}
        <p>There are no reviews yet! <a href="{% url 'auth_login' %}">Sign in</a> to add a review!</p>
        {%endif%}
        {%endif%}
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h3 style="text-align:center;font-family: 'Yellowtail', cursive; font-size: 2em; padding-top:10px; color:black;">Share
          this!</h3>
        </div>
      </div>
      <div class="row">
        <div class="col" style="text-align: center;">

          <!--  Social media share buttons -->
          <div class="fb-share-button" data-href="window.location.href" data-layout="button" data-size="large" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
          <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false"  data-layout="button" data-size="large" data-mobile-iframe="true">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          <a href="https://www.pinterest.com/pin/create/button/" data-pin-do="buttonBookmark" data-pin-tall="true" ></a><script type="text/javascript" async defer src="//assets.pinterest.com/js/pinit.js"></script>

        </div>
      </div>
    </div>

    {% endblock %}
